@page
@model IndexModel
@{
    ViewData["Title"] = "People";
}

<h1>@ViewData["Title"]</h1>
<p>
    @if (Model.ShowMessage)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Model.Message
        </div>
    }
</p>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.People.Count == 0)
            {
                <tr>
                    <td colspan="3">No people available.</td>
                </tr>
            }
            
            @foreach (var person in Model.People)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.Name</td>
                    <td>
                        <a asp-page="/People/Edit" asp-route-id="@person.Id" class="btn btn-xs btn-primary">edit</a>
                        <button type="submit" asp-command="OnDeletePerson" asp-command-id="@person.Id" class="btn btn-xs btn-danger">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="/People/Create" class="btn btn-sm btn-success">Create</a>
</form>